<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><div class="SimplOn Element sid1 Fe "></div>
<h1>Fe</h1>
<div id="DOF-create-new" class="DOF section"><a class="DOF CreateAction" href="/SimplON/sample_site/Fe/%7CshowCreate">Create new Fe</a></div>
<div id="DOF-list" class="DOF section">


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><form class="SimplOn Element sid1 Fe search" action="/SimplON/sample_site/Fe/%7CshowAdmin" method="post"><div class="SimplOn Element sid1 Fe ">
<div class="SimplOn Data sid1 String cabeza ">
<label for="DOF_0000000060d4cf6d000000004bd1a4ad">¿Cuando tendrás Fe?: </label><input id="SimplOn_0000000060d4cf6d000000004bd1a4ad" class="SimplOn Data sid1 String cabeza input" name="cabeza" value="" type="text">
</div>
<div class="SimplOn Data sid1 String contenido ">
<label for="DOF_0000000060d4cf6e000000004bd1a4ad">Contenido: </label><input id="SimplOn_0000000060d4cf6e000000004bd1a4ad" class="SimplOn Data sid1 String contenido input" name="contenido" value="" type="text">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>


<table class="SimplOn table">
<thead><tr>
<th class="SimplOn-td-cabeza">¿Cuando tendrás Fe?</th>
<th class="SimplOn-td-contenido">Contenido</th>
<th class="SimplOn-td-concat">Concat test</th>
<th class="SimplOn-td-compose">Compose test</th>
<th class="SimplOn-td-deleteAction"></th>
<th class="SimplOn-td-viewAction"></th>
<th class="SimplOn-td-updateAction"></th>
</tr></thead>
<tbody>
<tr>
<td class="SimplOn-td-cabeza">fetente</td>
<td class="SimplOn-td-contenido">oloroso</td>
<td class="SimplOn-td-concat">Cabeza: fetente  contenido oloroso</td>
<td class="SimplOn-td-compose">fetente concat Cabeza: fetente  contenido oloroso</td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Fe/3%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Fe/3%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Fe/3%7CshowUpdate">Update</a></td>
</tr>
<tr>
<td class="SimplOn-td-cabeza">fe2</td>
<td class="SimplOn-td-contenido">fe2 cont</td>
<td class="SimplOn-td-concat">Cabeza: fe2  contenido fe2 cont</td>
<td class="SimplOn-td-compose">fe2 concat Cabeza: fe2  contenido fe2 cont</td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Fe/2%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Fe/2%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Fe/2%7CshowUpdate">Update</a></td>
</tr>
<tr>
<td class="SimplOn-td-cabeza">cabeza fe</td>
<td class="SimplOn-td-contenido">contanido fe</td>
<td class="SimplOn-td-concat">Cabeza: cabeza fe  contenido contanido fe</td>
<td class="SimplOn-td-compose">cabeza fe concat Cabeza: cabeza fe  contenido contanido fe</td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Fe/1%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Fe/1%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Fe/1%7CshowUpdate">Update</a></td>
</tr>
</tbody>
<tfoot></tfoot>
</table>
</div>
</body>
</html>
