<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><div class="DOF Fe"></div>
<h1>Fe</h1>
<div id="DOF-create-new" class="DOF section"><a class="DOF CreateAction" href="/SimplON/sample_site/Fe/%7CshowCreate">Create new Fe</a></div>
<div id="DOF-list" class="DOF section">


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><form class="DOF search Fe" action="/SimplON/sample_site/Fe/%7CshowAdmin" method="post"><div class="DOF Fe">
<div class="DOF cabeza">
<label for="DOF_000000000e1a9532000000007e1373ed">¿Cuando tendrás Fe?: </label><input id="DOF_000000000e1a9532000000007e1373ed" class="DOF input String" name="cabeza" value="" type="text">
</div>
<div class="DOF contenido">
<label for="DOF_000000000e1a9531000000007e1373ed">Contenido: </label><input id="DOF_000000000e1a9531000000007e1373ed" class="DOF input String" name="contenido" value="" type="text">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>


<table class="SimplOn table">
<thead><tr>
<th class="SimplOn-td-cabeza">¿Cuando tendrás Fe?</th>
<th class="SimplOn-td-contenido">Contenido</th>
<th class="SimplOn-td-concat">Concat test</th>
<th class="SimplOn-td-compose">Compose test</th>
<th class="SimplOn-td-deleteAction"></th>
<th class="SimplOn-td-viewAction"></th>
<th class="SimplOn-td-updateAction"></th>
</tr></thead>
<tbody>
<tr>
<td class="SimplOn-td-cabeza">Cuando habrá paz</td>
<td class="SimplOn-td-contenido">En La Paz</td>
<td class="SimplOn-td-concat">Cabeza: Cuando habrá paz  contenido En La Paz</td>
<td class="SimplOn-td-compose">Cuando habrá paz concat Cabeza: Cuando habrá paz  contenido En La Paz</td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Fe/2%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Fe/2%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Fe/2%7CshowUpdate">Update</a></td>
</tr>
<tr>
<td class="SimplOn-td-cabeza">Quisás mañana</td>
<td class="SimplOn-td-contenido">Antes tendrá que estar totalmente funcionante</td>
<td class="SimplOn-td-concat">Cabeza: Quisás mañana  contenido Antes tendrá que estar totalmente funcionante</td>
<td class="SimplOn-td-compose">Quisás mañana concat Cabeza: Quisás mañana  contenido Antes tendrá que estar totalmente funcionante</td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Fe/1%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Fe/1%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Fe/1%7CshowUpdate">Update</a></td>
</tr>
</tbody>
<tfoot></tfoot>
</table>
</div>
</body>
</html>
