<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox222.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><div class="DOF Fer"></div>
<h1>Fer</h1>
<div id="DOF-create-new" class="DOF section"><a class="DOF CreateAction" href="/SimplON/sample_site/Fer/%7CshowCreate">Create new Fer</a></div>
<div id="DOF-list" class="DOF section">


<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox222.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<form class="DOF search Fer" action="/SimplON/sample_site/Fer/%7CshowAdmin" method="post"><div class="DOF Fer">
<div class="DOF cabeza">
<label for="DOF_000000002774d508000000001001df7f">¿Cuando tendrás Fer?: </label><input id="DOF_000000002774d508000000001001df7f" class="DOF input String" name="cabeza" value="" type="text">
</div>
<div class="DOF contenido">
<label for="DOF_000000002774d507000000001001df7f">Contenido: </label><input id="DOF_000000002774d507000000001001df7f" class="DOF input String" name="contenido" value="" type="text">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>


<table class="DOF table">
<thead><tr></tr></thead>
<tbody></tbody>
<tfoot></tfoot>
</table>
</div>
</body>
</html>
