<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><div class="DOF Home"></div>
<h1>Home</h1>
<div id="DOF-create-new" class="DOF section"><a href="/SimplON/sample_site/Home/%7CshowCreate">Create new Home</a></div>
<div id="DOF-list" class="DOF section"><table>
<thead><tr>
<th class="DOF-td-cabeza">Cabeza</th>
<th class="DOF-td-contenido">Contenido</th>
<th class="DOF-td-viewAction"></th>
<th class="DOF-td-createAction"></th>
<th class="DOF-td-updateAction"></th>
<th class="DOF-td-deleteAction"></th>
<th class="DOF-td-selectAction"></th>
</tr></thead>
<tbody>
<tr>
<td class="DOF-td-cabeza">Cabeza Home</td>
<td class="DOF-td-contenido">Contenido home un poco más largo de lo normal</td>
<td class="DOF-td-viewAction"><a href="/SimplON/sample_site/Home/2%7CshowView">View</a></td>
<td class="DOF-td-createAction"><a href="/SimplON/sample_site/Home/2%7CshowCreate">Create</a></td>
<td class="DOF-td-updateAction"><a href="/SimplON/sample_site/Home/2%7CshowUpdate">Update</a></td>
<td class="DOF-td-deleteAction"><a href="/SimplON/sample_site/Home/2%7CshowDelete">Delete</a></td>
<td class="DOF-td-selectAction"><a href="/SimplON/sample_site/Home/2%7CJSEEEEEEE">Select</a></td>
</tr>
<tr>
<td class="DOF-td-cabeza">Cabezon</td>
<td class="DOF-td-contenido">Contenido chido</td>
<td class="DOF-td-viewAction"><a href="/SimplON/sample_site/Home/1%7CshowView">View</a></td>
<td class="DOF-td-createAction"><a href="/SimplON/sample_site/Home/1%7CshowCreate">Create</a></td>
<td class="DOF-td-updateAction"><a href="/SimplON/sample_site/Home/1%7CshowUpdate">Update</a></td>
<td class="DOF-td-deleteAction"><a href="/SimplON/sample_site/Home/1%7CshowDelete">Delete</a></td>
<td class="DOF-td-selectAction"><a href="/SimplON/sample_site/Home/1%7CJSEEEEEEE">Select</a></td>
</tr>
</tbody>
<tfoot></tfoot>
</table></div>
</body>
</html>
