<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><div class="SimplOn Element sid1 Home "></div>
<h1>Home</h1>
<div id="DOF-create-new" class="DOF section"><a class="DOF CreateAction" href="/SimplON/sample_site/Home/%7CshowCreate">Create new Home</a></div>
<div id="DOF-list" class="DOF section">


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><form class="SimplOn Element sid1 Home search" action="/SimplON/sample_site/Home/%7CshowAdmin" method="post"><div class="SimplOn Element sid1 Home ">
<div class="SimplOn Data sid1 String cabeza ">
<label for="DOF_0000000002e674f9000000003d0413dc">Cabeza: </label><input id="SimplOn_0000000002e674f9000000003d0413dc" class="SimplOn Data sid1 String cabeza input" name="cabeza" value="" type="text">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>


<table class="SimplOn table">
<thead><tr>
<th class="SimplOn-td-cabeza">Cabeza</th>
<th class="SimplOn-td-contenido">Contenido</th>
<th class="SimplOn-td-deleteAction"></th>
<th class="SimplOn-td-viewAction"></th>
<th class="SimplOn-td-updateAction"></th>
</tr></thead>
<tbody>
<tr>
<td class="SimplOn-td-cabeza"></td>
<td class="SimplOn-td-contenido"></td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Home/5%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Home/5%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Home/5%7CshowUpdate">Update</a></td>
</tr>
<tr>
<td class="SimplOn-td-cabeza">mañana</td>
<td class="SimplOn-td-contenido">nada</td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Home/4%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Home/4%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Home/4%7CshowUpdate">Update</a></td>
</tr>
<tr>
<td class="SimplOn-td-cabeza">a</td>
<td class="SimplOn-td-contenido"></td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Home/3%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Home/3%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Home/3%7CshowUpdate">Update</a></td>
</tr>
<tr>
<td class="SimplOn-td-cabeza">ahora que quieres luca</td>
<td class="SimplOn-td-contenido">nada</td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Home/2%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Home/2%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Home/2%7CshowUpdate">Update</a></td>
</tr>
<tr>
<td class="SimplOn-td-cabeza">ahora</td>
<td class="SimplOn-td-contenido">si hay casa</td>
<td class="SimplOn-td-deleteAction"><a class="DOF DeleteAction" href="/SimplON/sample_site/Home/1%7CshowDelete">Delete</a></td>
<td class="SimplOn-td-viewAction"><a class="DOF ViewAction" href="/SimplON/sample_site/Home/1%7CshowView">View</a></td>
<td class="SimplOn-td-updateAction"><a class="DOF UpdateAction" href="/SimplON/sample_site/Home/1%7CshowUpdate">Update</a></td>
</tr>
</tbody>
<tfoot></tfoot>
</table>
</div>
</body>
</html>
