<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><form class="DOF Fe" action="/SimplON/sample_site/Fe/%7CprocessCreate" method="post"><div class="DOF Fe">
<div class="DOF cabeza">
<label for="DOF_00000000508cffba00000000637f30f7">¿Cuando tendrás Fe?: </label><input class="input DOF Datas String" name="cabeza" type="text" id="DOF_00000000508cffba00000000637f30f7">
</div>
<div class="DOF contenido">
<label for="DOF_00000000508cffb500000000637f30f7">Contenido: </label><input class="input DOF Datas String" name="contenido" type="text" id="DOF_00000000508cffb500000000637f30f7">
</div>
<div class="DOF home">
<label for="DOF_00000000508cffb400000000637f30f7">Home: </label>
			<a class="lightbox" href="/SimplON/sample_site/Home/%7CshowSearch">List</a>
			<a class="lightbox" href="/SimplON/sample_site/Home/%7CshowCreate">Add</a>
			<div class="preview"></div>
			<input class="input" name="home" type="hidden" id="DOF_00000000508cffb400000000637f30f7">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
