<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/jquery-1.6.2.min.js"></script>
</head>
<body><form class="DOF Fe" action="/multisite/sample_site/Fe?processCreate" method="post"><div class="DOF Fe">
<div class="DOF cabeza">
<label for="DOF_0000000062b90aca000000007fa859b7">¿Cuando tendrás Fe?: </label><input class="input DOF Datas String" name="cabeza" type="text" id="DOF_0000000062b90aca000000007fa859b7">
</div>
<div class="DOF ap_pater">
<label for="DOF_0000000062b90ac4000000007fa859b7">Mi nombre en formato fecha: </label><input class="DOF input DOF\Datas\Date" name="ap_pater" type="text" id="DOF_0000000062b90ac4000000007fa859b7">
</div>
<div class="DOF contenido">
<label for="DOF_0000000062b90ac5000000007fa859b7">Contenido: </label><input class="input DOF Datas String" name="contenido" type="text" id="DOF_0000000062b90ac5000000007fa859b7">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
