<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox222.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><form class="DOF create Fer2" action="/SimplON/sample_site/Fer2/%7CprocessCreate" method="post"><div class="DOF Fer2">
<div class="DOF cabeza">
<label for="DOF_0000000034ee7771000000005aa15797">¿Cuando tendrás Fer?: </label><input class="input DOF Datas String" name="cabeza" type="text" id="DOF_0000000034ee7771000000005aa15797">
</div>
<div class="DOF contenido">
<label for="DOF_0000000034ee777e000000005aa15797">Contenido: </label><input class="input DOF Datas String" name="contenido" type="text" id="DOF_0000000034ee777e000000005aa15797">
</div>
<div class="DOF home">
<label for="DOF_0000000034ee777f000000005aa15797">Home: </label>
			<a class="lightbox" href="/SimplON/sample_site/Home/%7CshowSelect/%22%22/%22%22/%22Fer2%22">List</a>
			<a class="lightbox" href="/SimplON/sample_site/Home/%7CshowCreate">Add</a>
			<div class="preview"></div>
			<input class="input" name="home" type="hidden" id="DOF_0000000034ee777f000000005aa15797">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
