<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/jquery-1.6.2.min.js"></script>
</head>
<body><form class="DOF Home" action="/multisite/sample_site/Home?processCreate" method="post"><div class="DOF Home">
<div class="DOF cabeza">
<label for="DOF_0000000016e12ebf000000002f7e7c5a">Cabeza: </label><input class="input DOF Datas String" name="cabeza" type="text" id="DOF_0000000016e12ebf000000002f7e7c5a">
</div>
<div class="DOF contenido">
<label for="DOF_0000000016e12eb0000000002f7e7c5a">Contenido: </label><input class="input DOF Datas String" name="contenido" type="text" id="DOF_0000000016e12eb0000000002f7e7c5a">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
