<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/jquery-1.6.2.min.js"></script>
</head>
<body><form class="DOF Home" action="/multisite/sample_site/Home?processCreate" method="post"><div class="DOF Home">
<div class="DOF cabeza">
<label for="DOF_000000004ce951db000000000577b3dd">Cabeza: </label><input class="input DOF Datas String" name="cabeza" type="text" id="DOF_000000004ce951db000000000577b3dd">
</div>
<div class="DOF contenido">
<label for="DOF_000000004ce951d4000000000577b3dd">Contenido: </label><textarea class="DOF input DOF\Datas\HTMLText editor" id="DOF_000000004ce951d4000000000577b3dd" name="contenido"></textarea>
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
