<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><form class="DOF create Home" action="/SimplON/sample_site/Home/%7CprocessCreate" method="post"><div class="DOF Home">
<div class="DOF cabeza">
<label for="DOF_000000007031f84d000000005df172a5">Cabeza: </label><input class="input DOF Datas String" name="cabeza" type="text" id="DOF_000000007031f84d000000005df172a5">
</div>
<div class="DOF contenido">
<label for="DOF_000000007031f842000000005df172a5">Contenido: </label><input class="input DOF Datas String" name="contenido" type="text" id="DOF_000000007031f842000000005df172a5">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
