<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="SimplOn Element SNL-1 Person create" action="/SimplON/sample_site/Person/%7CprocessCreate/%2522%255C%252FSimplON%255C%252Fsample_site%255C%252FFe%255C%252F3%257CcallDataMethod%255C%252F%25252522things%25252522%255C%252F%25252522makeSelection%25252522%2522" method="post"><div class="SimplOn Element SNL-1 Person ">
<div class="SimplOn Data SNL-1 String firstname ">
<label for="DOF_000000003ffcad4d000000003b423e82">Name: </label><input id="SimplOn_000000003ffcad4d000000003b423e82" class="SimplOn Data SNL-1 String firstname input" name="firstname" type="text">
</div>
<div class="SimplOn Data SNL-1 String lastname ">
<label for="DOF_000000003ffcad4e000000003b423e82">Last Name: </label><input id="SimplOn_000000003ffcad4e000000003b423e82" class="SimplOn Data SNL-1 String lastname input" name="lastname" type="text">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
