<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	Options -Indexes

	<FilesMatch "\.(tpl|ini|log)">
		Order deny,allow
		Deny from all
	</FilesMatch>

	RewriteEngine on

	## use the following if your site is reached as http://site.com/
	#RewriteBase /
	## use the following if your site is reached as http://domain.com/path/to/site/
	#RewriteBase /path/to/site/
	
	RewriteBase /SimplOnPHP/tutorial/
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>