<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteBase /

RewriteCond %{SERVER_ADDR} ^127.0.0.1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /elu/Deportes/external/index.php [QSA,L]

RewriteCond %{SERVER_NAME} ^(www|deportes|centraldeportiva)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>