<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SimplOn</title>
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/colorbox.css">
<script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/00_jquery-1.7.2.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery-ui-1.8.19.custom.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.validate.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="SimplOn Element SNL-1 Alumno search" action="/SimplOnPHP/tutorial/Alumno/1!showAdmin" method="post"><fieldset>
<legend>Search Alumno</legend>
<div class="SimplOn Element SNL-1 Alumno ">
<div class="SimplOn Data SNL-1 Message sonMessage  "></div>
<div class="SimplOn Data SNL-1 String nombre  ">
<label for="SimplOn_000000005a2693a0000000004852865e">Nombre: </label><input id="SimplOn_000000005a2693a0000000004852865e" class="SimplOn Data SNL-1 String nombre  " name="nombre" value="sas" type="text">
</div>
<button type="submit">Search</button><button class="SimplOn cancel-form">Cancel</button>
</div>
</fieldset></form>
</body>
</html>
