<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SimplOn</title>
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/colorbox.css">
<script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/00_jquery-1.7.2.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery-ui-1.8.19.custom.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.validate.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="SimplOn Element SNL-1 Alumno create" action="/SimplOnPHP/tutorial/Alumno!processCreate" method="post"><fieldset>
<legend>Create Alumno</legend>
<div class="SimplOn Element SNL-1 Alumno ">
<div class="SimplOn Data SNL-1 Message sonMessage  "></div>
<div class="SimplOn Data SNL-1 String nombre  ">
<label for="SimplOn_00000000450f542b00000000368f5bee">Nombre: </label><input id="SimplOn_00000000450f542b00000000368f5bee" class="SimplOn Data SNL-1 String nombre  " name="nombre" type="text">
</div>
<div class="SimplOn Data SNL-1 String apellidoPaterno  ">
<label for="SimplOn_00000000450f542a00000000368f5bee">Apellido Paterno: </label><input id="SimplOn_00000000450f542a00000000368f5bee" class="SimplOn Data SNL-1 String apellidoPaterno  " name="apellidoPaterno" type="text">
</div>
<div class="SimplOn Data SNL-1 String apellidoMaterno  ">
<label for="SimplOn_00000000450f542900000000368f5bee">Apellido Materno: </label><input id="SimplOn_00000000450f542900000000368f5bee" class="SimplOn Data SNL-1 String apellidoMaterno  " name="apellidoMaterno" type="text">
</div>
<div class="SimplOn Data SNL-1 Integer matematicas  ">
<label for="SimplOn_00000000450f542800000000368f5bee">matematicas: </label><input id="SimplOn_00000000450f542800000000368f5bee" name="matematicas" type="text">
</div>
<div class="SimplOn Data SNL-1 Integer fisica  ">
<label for="SimplOn_00000000450f542f00000000368f5bee">fisica: </label><input id="SimplOn_00000000450f542f00000000368f5bee" name="fisica" type="text">
</div>
<div class="SimplOn Data SNL-1 Integer quimica  ">
<label for="SimplOn_00000000450f542e00000000368f5bee">quimica: </label><input id="SimplOn_00000000450f542e00000000368f5bee" name="quimica" type="text">
</div>
<button type="submit">Create</button><button class="SimplOn cancel-form">Cancel</button>
</div>
</fieldset></form>
</body>
</html>
