<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/10_SimplON.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/tutorial/CSS/jQuery/Libs/colorbox.css">
</head>
<body><form class="DOF HolaMundo" action="/SimplON/tutorial/HolaMundo/%7CprocessCreate" method="post"><div class="DOF HolaMundo">
<div class="DOF nombre">
<label for="DOF_0000000004ad3962000000004142c820">Nombre: </label><input class="input DOF Datas String" name="nombre" type="text" id="DOF_0000000004ad3962000000004142c820">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
