<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/jquery-1.6.2.min.js"></script>
</head>
<body><form class="DOF Fe" action="/multisite/sample_site/Fe?processUpdate" method="post"><div class="DOF Fe">
<div class="DOF id"><input class="DOF input DOF\Datas\Id" name="id" value="1" type="hidden" id="DOF_000000002dcd725b000000007b2e40cf"></div>
<div class="DOF cabeza">
<label for="DOF_000000002dcd725a000000007b2e40cf">¿Cuando tendrás Fe?: </label><input class="input DOF Datas String" name="cabeza" value="Nunca" type="text" id="DOF_000000002dcd725a000000007b2e40cf">
</div>
<div class="DOF home">
<label for="DOF_000000002dcd7254000000007b2e40cf">Home: </label><input class="input DOF Datas ElementContainer" name="home" value="1" type="text" id="DOF_000000002dcd7254000000007b2e40cf">
</div>
<div class="DOF contenido">
<label for="DOF_000000002dcd7255000000007b2e40cf">Contenido: </label><input class="input DOF Datas String" name="contenido" value="" type="text" id="DOF_000000002dcd7255000000007b2e40cf">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
