<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="SimplOn Element SNL-1 Fe update" action="/SimplON/sample_site/Fe/1%7CprocessUpdate" method="post"><div class="SimplOn Element SNL-1 Fe ">
<div class="SimplOn Data SNL-1 Id id "><input class="SimplOn Data SNL-1 Id id input" name="id" value="1" type="hidden" id="SimplOn_000000000fa24975000000001620e02b"></div>
<div class="SimplOn Data SNL-1 String cabeza ">
<label for="DOF_000000000fa24974000000001620e02b">¿Cuando tendrás Fe?: </label><input id="SimplOn_000000000fa24974000000001620e02b" class="SimplOn Data SNL-1 String cabeza input" name="cabeza" value="cabeza fe" type="text">
</div>
<div class="SimplOn Data SNL-1 String contenido ">
<label for="DOF_000000000fa24977000000001620e02b">Contenido: </label><input id="SimplOn_000000000fa24977000000001620e02b" class="SimplOn Data SNL-1 String contenido input" name="contenido" value="contanido fe" type="text">
</div>
<div class="SimplOn Data SNL-1 ElementContainer home ">
            <span class="SimplOn label">Home</span>:
			<a class="SimplOn lightbox" href="/SimplON/sample_site/Fe/1%7CcallDataMethod/%2522home%2522/%2522showSelect%2522">List</a>
            <a class="SimplOn lightbox" href="/SimplON/sample_site/Home/1%7CshowCreate/%2522%2522/%2522%255C%252FSimplON%255C%252Fsample_site%255C%252FHome%255C%252F1%257CprocessCreate%255C%252F%25252522%2525255C%2525252FSimplON%2525255C%2525252Fsample_site%2525255C%2525252FFe%2525255C%2525252F1%2525257CcallDataMethod%2525255C%2525252F%252525252522home%252525252522%2525255C%2525252F%252525252522makeSelection%252525252522%25252522%2522">Add</a>
            <div class="SimplOn preview">
                <div class="SimplOn actions">
                        <a class="SimplOn lightbox" href="/SimplON/sample_site/Home/1%7CshowUpdate/%2522%2522/%2522%255C%252FSimplON%255C%252Fsample_site%255C%252FHome%255C%252F1%257CprocessUpdate%255C%252F%25252522%2525255C%2525252FSimplON%2525255C%2525252Fsample_site%2525255C%2525252FFe%2525255C%2525252F1%2525257CcallDataMethod%2525255C%2525252F%252525252522home%252525252522%2525255C%2525252F%252525252522makeSelection%252525252522%2525255C%2525252F%25252525255B1%25252525255D%25252522%2522">Edit</a>
                        <a class="SimplOn delete" href="#">X</a>
                    </div>
                    <div class="SimplOn view"></div>
            
            </div>
            <input class="SimplOn input" name="home" type="hidden" value="1" id="SimplOn_000000000fa24976000000001620e02b">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
