<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="SimplOn Element SNL-1 Fe update" action="/SimplON/sample_site/Fe/2%7CprocessUpdate" method="post"><div class="SimplOn Element SNL-1 Fe ">
<div class="SimplOn Data SNL-1 Id id "><input class="SimplOn Data SNL-1 Id id input" name="id" value="2" type="hidden" id="SimplOn_0000000006296d590000000022e52880"></div>
<div class="SimplOn Data SNL-1 String cabeza ">
<label for="DOF_0000000006296d580000000022e52880">¿Cuando tendrás Fe?: </label><input id="SimplOn_0000000006296d580000000022e52880" class="SimplOn Data SNL-1 String cabeza input" name="cabeza" value="fe2" type="text">
</div>
<div class="SimplOn Data SNL-1 String contenido ">
<label for="DOF_0000000006296d5b0000000022e52880">Contenido: </label><input id="SimplOn_0000000006296d5b0000000022e52880" class="SimplOn Data SNL-1 String contenido input" name="contenido" value="fe2 cont" type="text">
</div>
<div class="SimplOn Data SNL-1 ElementContainer home ">
            <span class="SimplOn label">Home</span>:
			<a class="SimplOn lightbox" href="/SimplON/sample_site/Fe/2%7CcallDataMethod/%2522home%2522/%2522showSelect%2522">List</a>
            <a class="SimplOn lightbox" href="/SimplON/sample_site/Home/2%7CshowCreate/%2522%2522/%2522%255C%252FSimplON%255C%252Fsample_site%255C%252FHome%255C%252F2%257CprocessCreate%255C%252F%25252522%2525255C%2525252FSimplON%2525255C%2525252Fsample_site%2525255C%2525252FFe%2525255C%2525252F2%2525257CcallDataMethod%2525255C%2525252F%252525252522home%252525252522%2525255C%2525252F%252525252522makeSelection%252525252522%25252522%2522">Add</a>
            <div class="SimplOn preview">
                <div class="SimplOn actions">
                        <a class="SimplOn lightbox" href="/SimplON/sample_site/Home/2%7CshowUpdate/%2522%2522/%2522%255C%252FSimplON%255C%252Fsample_site%255C%252FHome%255C%252F2%257CprocessUpdate%255C%252F%25252522%2525255C%2525252FSimplON%2525255C%2525252Fsample_site%2525255C%2525252FFe%2525255C%2525252F2%2525257CcallDataMethod%2525255C%2525252F%252525252522home%252525252522%2525255C%2525252F%252525252522makeSelection%252525252522%2525255C%2525252F%25252525255B2%25252525255D%25252522%2522">Edit</a>
                        <a class="SimplOn delete" href="#">X</a>
                    </div>
                    <div class="SimplOn view"><div class="SimplOn Element SNL-2 Home ">
<div class="SimplOn Data SNL-2 String cabeza ">ahora que quieres luca</div>
<div class="SimplOn Data SNL-2 String contenido ">tosdsdsd</div>
<div class="SimplOn Data SNL-2 ElementContainer owner ">
<div class="SimplOn Element SNL-3 Person ">
<div class="SimplOn Data SNL-3 String firstname ">Rubén</div>
<div class="SimplOn Data SNL-3 String lastname ">El Chaffer</div>
</div>
</div>
<div class="SimplOn Data SNL-2 ElementContainer parasite ">
<div class="SimplOn Element SNL-3 Person ">
<div class="SimplOn Data SNL-3 String firstname "></div>
<div class="SimplOn Data SNL-3 String lastname "></div>
</div>
</div>
</div></div>
            
            </div>
            <input class="SimplOn input" name="home" type="hidden" value="2" id="SimplOn_0000000006296d5a0000000022e52880">
</div>
<div class="SimplOn Data SNL-1 ElementsContainer things ">
            <span class="SimplOn label">Things</span>:
			<a class="SimplOn lightbox" href="/SimplON/sample_site/Fe/2%7CcallDataMethod/%2522things%2522/%2522showSelect%2522">List</a>
            Add:     
            <a class="SimplOn lightbox" href="/SimplON/sample_site/Home/%7CshowCreate/%2522%2522/%2522%255C%252FSimplON%255C%252Fsample_site%255C%252FHome%255C%252F%257CprocessCreate%255C%252F%25252522%2525255C%2525252FSimplON%2525255C%2525252Fsample_site%2525255C%2525252FFe%2525255C%2525252F2%2525257CcallDataMethod%2525255C%2525252F%252525252522things%252525252522%2525255C%2525252F%252525252522makeSelection%252525252522%25252522%2522">Home</a> <a class="SimplOn lightbox" href="/SimplON/sample_site/Person/%7CshowCreate/%2522%2522/%2522%255C%252FSimplON%255C%252Fsample_site%255C%252FPerson%255C%252F%257CprocessCreate%255C%252F%25252522%2525255C%2525252FSimplON%2525255C%2525252Fsample_site%2525255C%2525252FFe%2525255C%2525252F2%2525257CcallDataMethod%2525255C%2525252F%252525252522things%252525252522%2525255C%2525252F%252525252522makeSelection%252525252522%25252522%2522">Person</a> 
            <div class="SimplOn Container elements-box">
                
            </div>
		</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
