<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
</head>
<body><form class="DOF Home" action="/SimplON/sample_site/Home/2%7CprocessUpdate" method="post"><div class="DOF Home">
<div class="DOF id"><input class="DOF input DOF\Datas\Id" name="id" value="2" type="hidden" id="DOF_000000003b370cdf0000000020c0cf45"></div>
<div class="DOF cabeza">
<label for="DOF_000000003b370cde0000000020c0cf45">Cabeza: </label><input class="input DOF Datas String" name="cabeza" value="ahora que quieres luca" type="text" id="DOF_000000003b370cde0000000020c0cf45">
</div>
<div class="DOF contenido">
<label for="DOF_000000003b370cd10000000020c0cf45">Contenido: </label><input class="input DOF Datas String" name="contenido" value="nada" type="text" id="DOF_000000003b370cd10000000020c0cf45">
</div>
<div class="DOF viewAction"><a href="/SimplON/sample_site/Home/2%7CshowView">View</a></div>
<div class="DOF deleteAction"><a href="/SimplON/sample_site/Home/2%7CshowDelete">Delete</a></div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
