<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/jquery-1.6.2.min.js"></script>
</head>
<body><form class="DOF Home" action="/multisite/sample_site/Home?processUpdate" method="post"><div class="DOF Home">
<div class="DOF id"><input class="DOF input DOF\Datas\Id" name="id" value="15" type="hidden" id="DOF_000000006fc8e7710000000063202371"></div>
<div class="DOF cabeza">
<label for="DOF_000000006fc8e7700000000063202371">Cabeza: </label><input class="input DOF Datas String" name="cabeza" value="alex" type="text" id="DOF_000000006fc8e7700000000063202371">
</div>
<div class="DOF contenido">
<label for="DOF_000000006fc8e77f0000000063202371">Contenido: </label><input class="input DOF Datas String" name="contenido" value="demo" type="text" id="DOF_000000006fc8e77f0000000063202371">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
