<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="DOF Home" action="/multisite/sample_site/Home/19?processUpdate" method="post"><div class="DOF Home">
<div class="DOF id"><input class="DOF input DOF\Datas\Id" name="id" value="19" type="hidden" id="DOF_00000000557660c300000000556b1aff"></div>
<div class="DOF cabeza">
<label for="DOF_00000000557660c200000000556b1aff">Cabeza: </label><input class="input DOF Datas String" name="cabeza" value="" type="text" id="DOF_00000000557660c200000000556b1aff">
</div>
<div class="DOF contenido">
<label for="DOF_00000000557660cd00000000556b1aff">Contenido: </label><input class="input DOF Datas String" name="contenido" value="" type="text" id="DOF_00000000557660cd00000000556b1aff">
</div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
