<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="DOF search Fe" action="/SimplON/sample_site/Fe/%7CshowAdmin" method="post"><div class="DOF Fe">
<div class="DOF cabeza">
<label for="DOF_000000002342194c0000000046da8da7">¿Cuando tendrás Fe?: </label><input class="input DOF Datas String" name="cabeza" value="" type="text" id="DOF_000000002342194c0000000046da8da7">
</div>
<div class="DOF contenido">
<label for="DOF_000000002342194f0000000046da8da7">Contenido: </label><input class="input DOF Datas String" name="contenido" value="" type="text" id="DOF_000000002342194f0000000046da8da7">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
