<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="SimplOn Element sid1 Fe search" action="/SimplON/sample_site/Fe/%7CshowAdmin" method="post"><div class="SimplOn Element sid1 Fe ">
<div class="SimplOn Data sid1 String cabeza ">
<label for="DOF_0000000060d4cf6d000000004bd1a4ad">¿Cuando tendrás Fe?: </label><input id="SimplOn_0000000060d4cf6d000000004bd1a4ad" class="SimplOn Data sid1 String cabeza input" name="cabeza" value="" type="text">
</div>
<div class="SimplOn Data sid1 String contenido ">
<label for="DOF_0000000060d4cf6e000000004bd1a4ad">Contenido: </label><input id="SimplOn_0000000060d4cf6e000000004bd1a4ad" class="SimplOn Data sid1 String contenido input" name="contenido" value="" type="text">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
