<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><form class="DOF search Fe" action="/SimplON/sample_site/Fe/%7CshowAdmin" method="post"><div class="DOF Fe">
<div class="DOF cabeza">
<label for="DOF_0000000007b8d46b000000005cc19ca0">¿Cuando tendrás Fe?: </label><input class="input DOF Datas String" name="cabeza" value="" type="text" id="DOF_0000000007b8d46b000000005cc19ca0">
</div>
<div class="DOF contenido">
<label for="DOF_0000000007b8d464000000005cc19ca0">Contenido: </label><input class="input DOF Datas String" name="contenido" value="" type="text" id="DOF_0000000007b8d464000000005cc19ca0">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
