<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox222.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><form class="DOF search Fer" action="/SimplON/sample_site/Fer/%7CshowAdmin" method="post"><div class="DOF Fer">
<div class="DOF cabeza">
<label for="DOF_000000000b6bfd8b0000000031981ef6">¿Cuando tendrás Fer?: </label><input id="DOF_000000000b6bfd8b0000000031981ef6" class="DOF input String" name="cabeza" value="" type="text">
</div>
<div class="DOF contenido">
<label for="DOF_000000000b6bfd840000000031981ef6">Contenido: </label><input id="DOF_000000000b6bfd840000000031981ef6" class="DOF input String" name="contenido" value="" type="text">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
