<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox222.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><form class="DOF search Fer2" action="/SimplON/sample_site/Fer2/%7CshowAdmin" method="post"><div class="DOF Fer2">
<div class="DOF cabeza">
<label for="DOF_000000004e6837370000000012157d6a">¿Cuando tendrás Fer?: </label><input class="input DOF Datas String" name="cabeza" value="aaaa" type="text" id="DOF_000000004e6837370000000012157d6a">
</div>
<div class="DOF contenido">
<label for="DOF_000000004e6837380000000012157d6a">Contenido: </label><input class="input DOF Datas String" name="contenido" value="" type="text" id="DOF_000000004e6837380000000012157d6a">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
