<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="SimplOn Element sid1 Home search" action="/SimplON/sample_site/Home/%7CshowSelect" method="post">
<div class="SimplOn Element sid1 Home ">
<div class="SimplOn Data sid1 String cabeza ">
<label for="DOF_000000001de11bb400000000453894e8">Cabeza: </label><input id="SimplOn_000000001de11bb400000000453894e8" class="SimplOn Data sid1 String cabeza input" name="cabeza" value="" type="text">
</div>
<div class="SimplOn Data sid1 Hidden  "><input class="DOF input DOF\Datas\Hidden" name="" value="Fe" type="hidden" id="SimplOn_000000001de11bbf00000000453894e8"></div>
<div class="SimplOn Data sid1 Hidden  "><input class="DOF input DOF\Datas\Hidden" name="" value="home" type="hidden" id="SimplOn_000000001de11bbe00000000453894e8"></div>
<div class="SimplOn Data sid1 Hidden  "><input class="DOF input DOF\Datas\Hidden" name="" value="2" type="hidden" id="SimplOn_000000001de11ba100000000453894e8"></div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
