<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><form class="DOF search Home" action="/SimplON/sample_site/Home/%7CshowSelect" method="post"><div class="DOF Home">
<div class="DOF cabeza">
<label for="DOF_0000000066e0169e0000000050631963">Cabeza: </label><input class="input DOF Datas String" name="cabeza" value="" type="text" id="DOF_0000000066e0169e0000000050631963">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
