<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/jquery-1.6.2.min.js"></script>
</head>
<body><form class="DOF MySearch" action="/multisite/sample_site/MySearch/%5B%22Home%22%2C%22Fe%22%5D?processSearch" method="post"><div class="DOF MySearch">
<div class="DOF cabeza">
<label for="DOF_0000000042ba777b000000001cbc0a35">Cabeza: </label><input class="input DOF Datas String" name="cabeza" value="" type="text" id="DOF_0000000042ba777b000000001cbc0a35">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
