<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="DOF MySearch" action="/SimplON/sample_site/MySearch/%5B%22Fe%22%2C%22Home%22%5D%7CprocessSearch" method="post"><div class="DOF MySearch">
<div class="DOF cabeza">
<label for="DOF_0000000046344b0a0000000023459779">¿Cuando tendrás Fe?: </label><input class="input DOF Datas String" name="cabeza" value="" type="text" id="DOF_0000000046344b0a0000000023459779">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
