<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/jquery-1.6.2.min.js"></script>
</head>
<body><form class="DOF MySearch" action="/multisite/sample_site/MySearch?processSearch" method="post"><div class="DOF MySearch">
<div class="DOF cabeza">
<label for="DOF_00000000320fee2d000000001c3746e8">Cabeza: </label><input class="input DOF Datas String" name="cabeza" value="" type="text" id="DOF_00000000320fee2d000000001c3746e8">
</div>
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
