<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
</head>
<body><form class="DOF Search" action="/SimplON/sample_site/Search/null%7CprocessSearch" method="post"><div class="DOF Search">
<button name="commit" type="submit">Search</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
