<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SimplOn</title>
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/colorbox.css">
<script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/00_jquery-1.7.2.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery-ui-1.8.19.custom.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.validate.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><div class="SimplOn Element SNL-1 Alumno ">
<div class="SimplOn Data SNL-1 Message sonMessage  "></div>
<div class="SimplOn Data SNL-1 String nombre  ">sas</div>
<div class="SimplOn Data SNL-1 String apellidoPaterno  ">asas</div>
<div class="SimplOn Data SNL-1 String apellidoMaterno  ">asas</div>
<div class="SimplOn Data SNL-1 Integer matematicas  ">3</div>
<div class="SimplOn Data SNL-1 Integer fisica  ">34</div>
<div class="SimplOn Data SNL-1 Integer quimica  ">88</div>
<div class="SimplOn Data SNL-1 Average promedio  ">41.666666666667</div>
</div>
</body>
</html>
