<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/10_SimplON.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/tutorial/CSS/jQuery/Libs/colorbox.css">
</head>
<body><div class="DOF HolaMundo">
<div class="DOF nombre">Ruben</div>
<div class="DOF frase">aquí probando SimplOnPHP</div>
</div>
</body>
</html>
