<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SimplOn</title>
<link type="text/css" rel="stylesheet" href="/tutorial/index.php/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/tutorial/index.php/CSS/jQuery/Libs/anytime.compressed.css">
<link type="text/css" rel="stylesheet" href="/tutorial/index.php/CSS/jQuery/Libs/colorbox.css">
<script type="text/javascript" src="/tutorial/index.php/JS/jQuery/Libs/00_jquery-1.7.2.min.js"></script><script type="text/javascript" src="/tutorial/index.php/JS/jQuery/Libs/05_anytime.compressed.js"></script><script type="text/javascript" src="/tutorial/index.php/JS/jQuery/Libs/05_jquery-ui-1.8.19.custom.min.js"></script><script type="text/javascript" src="/tutorial/index.php/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/tutorial/index.php/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/tutorial/index.php/JS/jQuery/Libs/05_jquery.validate.min.js"></script><script type="text/javascript" src="/tutorial/index.php/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><div class="SimplOn Element SNL-1 Phone ">
<div class="SimplOn Data SNL-1 Message sonMessage  "></div>
<div class="SimplOn Data SNL-1 String label  "></div>
<div class="SimplOn Data SNL-1 String phoneNumber  "></div>
</div>
</body>
</html>
