<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SimplOn</title>
<link type="text/css" rel="stylesheet" href="/tutorial/CSS/jQuery/PerMethod/01-jquery-ui.css">
<link type="text/css" rel="stylesheet" href="/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/tutorial/CSS/jQuery/Libs/anytime.compressed.css">
<link type="text/css" rel="stylesheet" href="/tutorial/CSS/jQuery/Libs/colorbox.css">
<script type="text/javascript" src="/tutorial/JS/jQuery/Libs/00_jquery-1.7.2.min.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Libs/05_anytime.compressed.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Libs/05_jquery-ui-1.8.19.custom.min.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Libs/05_jquery.validate.min.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Libs/10_SimplON.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Inits/SimplOn-Datas-Date.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Inits/SimplOn-Datas-TimeSince.js"></script><script type="text/javascript" src="/tutorial/JS/jQuery/Inits/SimplOn-Datas-Email.js"></script>
</head>
<body><div class="SimplOn Element SNL-1 Student ">
<div class="SimplOn Data SNL-1 Message sonMessage  "></div>
<div class="SimplOn Data SNL-1 String first_name  ">Rubén</div>
<div class="SimplOn Data SNL-1 String last_name  ">Schaffer</div>
<div class="SimplOn Data SNL-1 ElementsContainer emails  "><div class="SimplOn Element SNL-2 EmailAddress ">
<div class="SimplOn Data SNL-2 Message sonMessage  "></div>
<div class="SimplOn Data SNL-2 String label  "></div>
<div class="SimplOn Data SNL-2 Email address  "></div>
</div></div>
<div class="SimplOn Data SNL-1 Date birth_date  "></div>
<div class="SimplOn Data SNL-1 TimeSince age  "></div>
</div>
</body>
</html>
