<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/tutorial/JS/jQuery/Libs/10_SimplON.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/tutorial/CSS/jQuery/Libs/colorbox.css">
</head>
<body><form class="SimplOn HolaMundo" action="/SimplON/tutorial/HolaMundo/1%7CprocessUpdate" method="post"><div class="SimplOn HolaMundo">
<div class="SimplOn id"><input class="SimplOn input SimplOn\Datas\Id" name="id" value="1" type="hidden" id="SimplOn_000000003206704a0000000010b79a48"></div>
<div class="SimplOn frase">
<label for="SimplOn_00000000320670440000000010b79a48">Frase: </label><input class="input SimplOn Datas String" name="frase" value="aquí probando SimplOnPHP" type="text" id="SimplOn_00000000320670440000000010b79a48">
</div>
<div class="SimplOn viewAction"><a href="/SimplON/tutorial/HolaMundo/1%7CshowView">View</a></div>
<div class="SimplOn deleteAction"><a href="/SimplON/tutorial/HolaMundo/1%7CshowDelete">Delete</a></div>
<button name="commit" type="submit">Save</button><button name="cancel" onclick="javascript:history.back()">Cancel</button>
</div></form>
</body>
</html>
