<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SimplOn</title>
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplOnPHP/tutorial/CSS/jQuery/Libs/colorbox.css">
<script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/00_jquery-1.7.2.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery-ui-1.8.19.custom.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/05_jquery.validate.min.js"></script><script type="text/javascript" src="/SimplOnPHP/tutorial/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><form class="SimplOn Element SNL-1 Persona update" action="/SimplOnPHP/tutorial/Persona/2!processUpdate" method="post"><fieldset>
<legend>Update Persona</legend>
<div class="SimplOn Element SNL-1 Persona ">
<div class="SimplOn Data SNL-1 Message sonMessage  "></div>
<div class="SimplOn Data SNL-1 NumericId id required  "></div>
<div class="SimplOn Data SNL-1 String nombre  ">
<label for="SimplOn_000000006f3deacd000000006a6a1a2a">nombre: </label><input id="SimplOn_000000006f3deacd000000006a6a1a2a" class="SimplOn Data SNL-1 String nombre  " name="nombre" value="Otromas" type="text">
</div>
<div class="SimplOn Data SNL-1 String apellidoPaterno  ">
<label for="SimplOn_000000006f3deacc000000006a6a1a2a">apellidoPaterno: </label><input id="SimplOn_000000006f3deacc000000006a6a1a2a" class="SimplOn Data SNL-1 String apellidoPaterno  " name="apellidoPaterno" value="asas" type="text">
</div>
<div class="SimplOn Data SNL-1 String apellidoMaterno  ">
<label for="SimplOn_000000006f3deacf000000006a6a1a2a">apellidoMaterno: </label><input id="SimplOn_000000006f3deacf000000006a6a1a2a" class="SimplOn Data SNL-1 String apellidoMaterno  " name="apellidoMaterno" value="asasas" type="text">
</div>
<button type="submit">Update</button><button class="SimplOn cancel-form">Cancel</button>
</div>
</fieldset></form>
</body>
</html>
