<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Libs/jquery-1.6.2.min.js"></script><script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Inits/Home.showView.js"></script><script type="text/javascript" src="/multisite/sample_site/JS/jQuery/Inits/HTMLText.showView.js"></script>
</head>
<body><div class="DOF Fe">
<div class="DOF cabeza">Nunca</div>
<div class="DOF condenado">hggghh</div>
<div class="DOF home"><div class="DOF Home">
<div class="DOF cabeza">A ver si es cierto</div>
<div class="DOF contenido">O algo malio sal</div>
</div></div>
</div>
</body>
</html>
