<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Inits/Home.showView.js"></script><link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
</head>
<body><div class="DOF Fe">
<div class="DOF cabeza">Quisás mañana</div>
<div class="DOF contenido">Antes tendrá que estar totalmente funcionante</div>
<div class="DOF home"></div>
<div class="DOF concat">Quisás mañana Antes tendrá que estar totalmente funcionante</div>
</div>
</body>
</html>
