<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/SimplOn.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/colorbox.css">
<link type="text/css" rel="stylesheet" href="/SimplON/sample_site/CSS/jQuery/Libs/sample_site.css">
<script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Inits/Home.showView.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/00_jquery-1.6.2.min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.colorbox-min.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/05_jquery.form.js"></script><script type="text/javascript" src="/SimplON/sample_site/JS/jQuery/Libs/10_SimplON.js"></script>
</head>
<body><div class="SimplOn Element SNL-1 Fe ">
<div class="SimplOn Data SNL-1 String cabeza ">fetente</div>
<div class="SimplOn Data SNL-1 String contenido ">oloroso</div>
<div class="SimplOn Data SNL-1 ElementContainer home "><div class="SimplOn Element SNL-2 Home ">
<div class="SimplOn Data SNL-2 String cabeza "></div>
<div class="SimplOn Data SNL-2 String contenido "></div>
<div class="SimplOn Data SNL-2 ElementContainer owner ">
<div class="SimplOn Element SNL-3 Person ">
<div class="SimplOn Data SNL-3 String firstname "></div>
<div class="SimplOn Data SNL-3 String lastname "></div>
</div>
</div>
<div class="SimplOn Data SNL-2 ElementContainer parasite ">
<div class="SimplOn Element SNL-3 Person ">
<div class="SimplOn Data SNL-3 String firstname "></div>
<div class="SimplOn Data SNL-3 String lastname "></div>
</div>
</div>
</div></div>
<div class="SimplOn Data SNL-1 ElementsContainer things ">
<div class="SimplOn Element SNL-2 Home ">
<div class="SimplOn Data SNL-2 String cabeza "></div>
<div class="SimplOn Data SNL-2 String contenido "></div>
<div class="SimplOn Data SNL-2 ElementContainer owner ">
<div class="SimplOn Element SNL-3 Person ">
<div class="SimplOn Data SNL-3 String firstname "></div>
<div class="SimplOn Data SNL-3 String lastname "></div>
</div>
</div>
<div class="SimplOn Data SNL-2 ElementContainer parasite ">
<div class="SimplOn Element SNL-3 Person ">
<div class="SimplOn Data SNL-3 String firstname "></div>
<div class="SimplOn Data SNL-3 String lastname "></div>
</div>
</div>
</div>
<div class="SimplOn Element SNL-2 Person ">
<div class="SimplOn Data SNL-2 String firstname "></div>
<div class="SimplOn Data SNL-2 String lastname "></div>
</div>
</div>
<div class="SimplOn Data SNL-1 Concat concat ">Cabeza: fetente  contenido oloroso</div>
<div class="SimplOn Data SNL-1 Compose compose ">fetente concat Cabeza: fetente  contenido oloroso</div>
</div>
</body>
</html>
